*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* index */
.navbar {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list > div > a {
    color: black;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-menu > a {
    color: black;
    text-decoration: none;
    padding: 6px 12px;

}

.nav-menu > a:hover {
    background: green;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-user {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.btn-user > #login {
    cursor: pointer;
    background-color: green;
    color: white;
    padding: 6px 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-user > #register {
    cursor: pointer;
    border: 0.5px solid rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-user > #login:hover {
    background-color: rgb(0, 73, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.btn-user > #register:hover {
    background-color: green;
    border: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

/* index end */

/* main */

.img-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main-hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.main-hero > div > h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    animation: fadeIn 2s ease-in-out;
}

.main-hero > div > p {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    animation: fadeIn 2s ease-in-out;
}

.main-hero > button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: 1rem;
    animation: fadeIn 2s ease-in-out;
}

.main-hero > button:hover {
    background-color: rgb(255, 255, 255);
    color: green;
    transition: 0.5s;
}

/* main end */

/* jelajahi */
.jelajahi {
    padding: 20px;
    max-width: 1440px;
    margin: 50px auto;
}
/* jelajahi end */

/* sambutan */
.sambutan {
    padding: 20px;
    max-width: 1440px;
    margin: 50px auto;
}
/* sambutan end */

/* berita desa */
.berita-desa {
    padding: 20px;
    max-width: 1440px;
    margin: 50px auto;
}
/* berita desa end  */

/* login */
.login{
    padding: 20px;
    max-width: 1440px;
    margin: 50px auto;
}
/* login end  */

/* register  */
.register {
    padding: 20px;
    max-width: 1440px;
    margin: 50px auto;
}
/* register end  */